<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<canvas id="progressChart" width="200" height="100"></canvas>
<script th:inline="javascript" type="text/javascript">
var ctx = document.getElementById("progressChart");
var myData = [[${datasets}]];
var myDataParsed = JSON.parse(myData);
var numberOfTasks = Object.keys(myDataParsed).length;
//setLabels are the labels for each dataset, ie the task names.
var setLabels = Object.keys(myDataParsed);
//there are fifteen colors in GraphColors, so that each new task can have a new color.
var GraphColors = ['#ff0000', '#00ff00', '#0000ff', '#ffd400', '#ff00ff', '#00ffff', '#000000', '#008620', '#001a9f', '#0096ff', '#dccf00', '#8d0088', '#890101', '#beb4b4', '#686868'];
//GraphDatasetsArray will contain all the datasets, formatted for chart.js
var GraphDatasetsArray = [];
for (i=0; i < numberOfTasks; i++){
    var dataArray = []
    //times is specifically pulling the times here.
    var times = Object.keys(myDataParsed[setLabels[i]]);
    //this for loop creates the dates array.
    for (j=0; j < times.length; j++){
        if (myDataParsed[setLabels[i]][times[j]]){
            var date = moment(myDataParsed[setLabels[i]][times[j]]);
            var time = times[j];
            var dataPoint = {
                x: date,
                y: time
            }
            dataArray.push(dataPoint);
        }
    }
    GraphDatasetsArray[i] =
        {
            label: setLabels[i],
            data: dataArray,
            fill: false,
            borderColor: GraphColors[i],
            backgroundColor: GraphColors[i],
            pointBackgroundColor: '#ffffff',
        }
}
//SET THE GRAPH CONFIGURATION VALUES
var LineChartConfig = {
    type: 'line',
    data: {datasets: GraphDatasetsArray,},
    options: {
        scales: {
            xAxes: [{
                type: "time",
                time: {
                    unit: 'day',
                }
            }]
        },
    }
};

var progressChart = new Chart(ctx, LineChartConfig);
</script>
<table>
    <tr>
        <td><strong>Date</strong></td>
        <td><strong>Task</strong></td>
        <td><strong>Length</strong></td>
    </tr>
    <tr th:each="taskSession : ${taskSessions}">
        <td th:text="${#temporals.format(taskSession.date, 'dd/MMM/yyyy')}"></td>
       <!-- <td th:text="${#temporals.format(taskSession.start, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(taskSession.stop, 'HH:mm')}"></td> -->
        <td th:text="${taskSession.task.name}"></td>
        <td th:text="${taskSession.lengthToString}"></td>
    </tr>
</table>

<p th:text="${datasets}"></p>

</body>
</html>